<div class="main-container">
  <div class="img-section">
    <div class="row section-row">
      <div class="col-md-3 img-column">
        <img src="../../../../assets/images/life-at-ettiksoft/SECTION4-LAE/lifeat_section4_1.jpg"alt="image-1"
         class="img-fluid" (load)="onImageLoad()"
         [hidden]="isLoading && !isImageLoaded">
         <div class="skeleton-rect" *ngIf="isLoading && !isImageLoaded"></div>
      </div>
      <div class="col-md-3 img-column">
        <img src="../../../../assets/images/life-at-ettiksoft/SECTION4-LAE/lifeat_section4_2.jpg" alt="image-2" 
        class="img-fluid" (load)="onImageLoad()"
        [hidden]="isLoading && !isImageLoaded">
        <div class="skeleton-rect" *ngIf="isLoading && !isImageLoaded"></div>
      </div>
      <div class="col-md-3 img-column">
        <img src="../../../../assets/images/life-at-ettiksoft/SECTION4-LAE/lifeat_section4_3.jpg"alt="image-3" 
        class="img-fluid" (load)="onImageLoad()"
        [hidden]="isLoading && !isImageLoaded">
        <div class="skeleton-rect" *ngIf="isLoading && !isImageLoaded"></div>
      </div>
      <div class="col-md-3 img-column">
        <img src="../../../../assets/images/life-at-ettiksoft/SECTION4-LAE/lifeat_section4_4.jpg" alt="image-4" 
        class="img-fluid" (load)="onImageLoad()"
        [hidden]="isLoading && !isImageLoaded">
        <div class="skeleton-rect" *ngIf="isLoading && !isImageLoaded"></div>
      </div>
    </div>  
</div>
</div>
