.main-container{
  padding:40px 0;
  max-width:100%;
  background-color:var(--medium-black);
}
.row{
  background-color: var(--black);
  padding: 50px;
  border-radius: 40px;
}
.section-txt{
  display: flex;
  flex-direction: column;
  justify-content: center;
 }
 .heading-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:30px;
 }

 #common-h2{
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  color: var(--lite-grey);
  font-size: 2rem;
 }
 
 .content-scroll{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color:var(--medium-black);
  border-radius: 20px;
 }
 .icon-section i{
  font-size: 40px;
  color: var(--grey);
  margin: 10px 0 0 20px;
 }
 .topic-heading{
  display: flex;
  flex-direction: column;
  margin:0 50px 50px;
  text-align: left;
  gap:10px;


 }
 #common-h3{
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  color: var(--lite-grey);
 
 }
 #common-p{
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  line-height: normal;
  color: var(--lite-grey);

 }

 .animate-on-scroll {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.animate-on-scroll.visible  {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.5s; 
}
.skeleton-rect {
  content: '';
  width: 300px; 
  height: 400px; 
  background:var(--medium-black);
  margin: 0 10px;
  border-radius: 15px;
  background-size: 200%;
}
.col-md-4 img{
  border-radius: 20px;
  width:100%;
}
@media screen and (min-width:1200px){
  p{
    font-size: 20px;
   }
   h3{
    font-size: 28px;
   }
}
 @media screen and (max-width:991px){
  .col-lg-4{
    justify-content:center;
    margin-bottom: 20px;
  }
  h1{
    font-size: 24px;
  }
}
@media screen and (max-width:767px){

  .img-section{
    align-self: center;
  }
  h1{
    font-size: 24px;
  }
}
@media (max-width:575px) {
  .row{
    padding: 10px 10px;
  }
}