footer{
  margin: 50px 30px;
}

.footer-row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 40px;
  justify-content:center ;
  margin-left: auto;
  margin-right: auto;

}
.social-media{
  display: flex;
  flex-direction: row;
  gap: 20px;
  font-size: 1.5rem;
  color: var(--blue-grey);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items:center ;
  margin-top: 30px;
}
.social-media i{
  transition: all 0.3s ease;

}
.social-media i:hover{
  color: var(--lite-blue);
}
.sections{
  width: 200px;
}

.sections h5{
  font-family: 'Poppins',sans-serif;
  font-size: 1.2rem;
  font-weight:500 ;
  color: var(--blue-grey);
  transition: all 0.3s ease;
}
ul a{
  text-decoration: none;
}
.sections li{
  font-family: 'Poppins',sans-serif;
  font-size: 1rem;
  line-height: normal;
  font-weight: 400;
  margin-top: 10px;
  color: var(--blue-grey);
  transition: all 0.3s ease;
}
.sections h5:hover{
  color:var(--dark-grey)
}
.sections li:hover{

  color:var(--lite-blue);

}

.sections .title{
  font-family: 'Poppins',sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: normal;
  margin-top: 10px;
  color: var(--blue-grey);
  transition: all 0.3s ease;
}
.sections .title:hover{
  color:var(--dark-grey)
}
.list-unstyled {
  display: block;
}

.list-unstyled.visible {
  display: none;
}


@media (max-width: 575.98px) {
  .sections {
    border-bottom: 1pm solid var(--dark-grey);
  }

 }

@media (max-width: 767.98px) { 
  .footer-row{
    display: flex;
    flex-direction: column;
    gap: 10px;
   
  
  }
  .sections {
    width: 100%;
    border-bottom: 1px solid var(--lite-grey);
    margin-top: 10px;
    margin-bottom: 10px;

  }
  .sections h5{
    font-weight: 400;
    font-size: 1rem;

  }
  .sections li{
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .social-media{
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-size: 1.3rem;
    color: var(--blue-grey);
    justify-content: left;
    text-align: left;
    align-items:left ;
    margin-top: 30px;
  }
  .sections h5:active{
    color: var(--lite-blue);

  }
  .list-unstyled {
    display: none;
  }
  
  .list-unstyled.visible {
    display: block;
  }
  
}


@media (max-width: 991.98px) {  }


@media (max-width: 1199.98px) {  }


@media (max-width: 1399.98px) {  }