
<div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="image-container">
            <img src="../../../../../assets/images/service/iot-solutions/businessman-pointing-his-business-presentation-high-technology-digital-screen 1 1.png"
            alt="tecnology-img" class="img-fluid" (load)="onImageLoad()" [hidden]="isLoading && !isImageLoaded">
            <div class="skeleton-rect" *ngIf="isLoading && !isImageLoaded"></div>
        </div>
      </div>
      <div class="col-md-6 content">
        <h1 id="common-h2" class="slide-left" style="animation-delay: 0.2s;">We excel in versatile<span>.</span></h1>
        <h1 id="common-h1" class="iot-text slide-left " style="animation-delay: 0.4s;">IoT solutions.</h1>
        <p id="common-p" class="slide-left" style="animation-delay: 0.6s;">Ettiksoft's IIoT solutions guarantee a secure, safe,
            and intelligent ecosystem, evolving alongside
            user experiences.</p>
        <div class="commen-button slide-left" style="animation-delay: 0.8s; display: none;">
            <button (mouseenter)="changeIcon()" (mouseleave)="resetIcon()"  >
                Enquire<i [class]="iconClass" aria-hidden="true"></i>
            </button>
        </div>
      </div>
    </div>
</div>
