<div class="main-container"id="main-container">
  <div class="container" id="container">
    <div class="our-servive-section">
      <div class="our-service-txt">
        <h1 class="common-h1" id="common-h1">OUR SERVICES</h1>
      </div>
      <div class="row">
        <div class="col-md-12 services-section">
          <button class="btn btn-dark" [class.active-btn]="selectedService === 'Automotive'" (click)="updateService('Automotive')">Automotive</button>
          <button class="btn btn-dark" [class.active-btn]="selectedService === 'Medical'" (click)="updateService('Medical')">Medical</button>
          <button class="btn btn-dark" [class.active-btn]="selectedService === 'IOT'" (click)="updateService('IOT')">IOT</button>
          <button class="btn btn-dark" [class.active-btn]="selectedService === 'IIOT'" (click)="updateService('IIOT')">IIOT</button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="system-engineering-section" appScrollAnimation>
          <div class="sys-heading">
            <h1 class="system-txt" id="common-h1">{{ getServiceContent()?.heading }}</h1>
          </div>
          <div class="sys-explore-btn">
            <button class="btn explore-btn">Explore <i class="fa-solid fa-arrow-right"></i></button>
          </div>
          <div *ngFor="let paragraph of getServiceContent()?.paragraph" class="sys-paragraph" >
            <p class="system-paragraph"id="common-p">{{ paragraph }}</p>
          </div>
          
        </div>
      </div>
      <div class="col-md-8">
        <img [src]="getServiceContent()?.imagePath" alt="{{ selectedService }}-img" class="img-fluid">
      </div>
    </div>
  </div>
</div>
