<!-- <div class="modal animate" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="container">
                <div class="card-body">
                    <div class=" align-items-start">
                        <div class="col-md-12">
                            <div class="pop-up-header">
                                <div class="logo-img">
                                    <img src="../../../../assets/images/fa10256e-6c06-4ec5-9667-8dc1c8ddb5a9-removebg-preview 1.png"
                                        alt="logo-img">
                                </div>
                                <span aria-hidden="true" (click)="closePopup()" style="align-self: baseline;"><i class="fa fa-times"
                                    aria-hidden="true"></i></span>
                            </div>
                            <div class="stright-line"></div>
                            <form [formGroup]="enquiryForm" (ngSubmit)="onSubmit()">
                                <div class="name-form">
                                    <div class="form-group">
                                        <label for="enquiry_firstname">First name</label>
                                        <input type="text" class="form-control" id="enquiry_firstname"
                                            formControlName="enquiry_firstname" required>
                                    </div>
                                    <div class="form-group inline-lastName">
                                        <label for="enquiry_lastname">Last name</label>
                                        <input type="text" class="form-control" id="enquiry_lastname"
                                            formControlName="enquiry_lastname" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="enquiry_email">Business email</label>
                                    <input type="email" class="form-control" id="enquiry_email"
                                        formControlName="enquiry_email" required>
                                </div>
                                <div class="form-group">
                                    <label for="enquiry_businessname">Business name</label>
                                    <input type="text" class="form-control" id="enquiry_businessname"
                                        formControlName="enquiry_businessname" required>
                                </div>
                                <div class="form-group">
                                    <label for="enquiry_phone">Contact number</label>
                                    <div class="contact-form">
                                        <select class="custom-select" aria-label="Default select example"
                                            style="width: 70px;">
                                            <option value="IND">IN +91</option>
                                            <option value="DE">DE +49</option>
                                            <option value="VN">VN +84</option>
                                        </select>
                                        <input type="tel" class="form-control" id="enquiry_phone"
                                            formControlName="enquiry_phone" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="enquiry_product">Product</label>
                                    <input type="email" class="form-control" id="enquiry_product"
                                        formControlName="enquiry_product" required>
                                </div>
                                <div class="form-group">
                                    <label for="contact_query">Type of query</label>
                                    <select class="form-select" aria-label="Default select example" formControlName="enquiry_query" id="enquiry_query" required>
                                      <option value="Technical Support">SUPPORT</option>
                                      <option value="Sales Info">SALES</option>
                                      <option value="Other query">OTHERS</option>
                                    </select>
                                  </div>
                                <div class="form-group">
                                    <label for="enquiry_message">Your message</label>
                                    <textarea class="form-control" id="enquiry_message"
                                        formControlName="enquiry_message" rows="2" required></textarea>
                                </div>
                                <div class="submit-button">
                                    <button type="submit" class="btn btn-block submit-btn">Submit</button>
                                </div>
                            </form>
                            <div class="form-footer" style="display: none;">
                                <a href="#" class="text-center">Forget Password?</a>
                                <p class="new-user text-center">New User? <span href="#" class="text-center">Sign
                                        up</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div> -->
