.main-container {
  background-color: var(--black);
  max-width: 100%;
}
.services-section{
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.col-md-6{
  align-self: center;
  padding: 10px;
}
.col-md-6 img{
  max-width: 100%;
  width: 100%;
}
.row {
  margin: 0;
}

.skeleton-rect {
  content: '';
  width: 100%;
  height: 400px;
  background:var(--medium-black);
  margin: 0 10px;
  background-size: 200%;
  animation: skeleton 10s linear infinite;
}

@keyframes skeleton {
  0% {
    background-position: -100% 0;
  }

  100% {
    background-position: 100% 0;
  }
}

.heading-section {
  display: flex;
  justify-content: space-between;
}

#common-h1 {
  font-weight: 600;
  font-family: 'Adamina', sans-serif;
  margin-bottom: 15px;
  color: var(--dark-gray);
  text-align: center;
}
#common-h3{
  font-weight: 600;
  font-family: 'Adamina', sans-serif;
  margin-bottom: 15px;
  color: var(--lite-gray);
}
#common-h4{
  font-weight: 500;
  font-family: 'Assistent', sans-serif;
  margin-bottom: 15px;
  color: var(--dark-gray);
}
#common-p{
  font-weight: 400;
  font-family: 'Assistent', sans-serif;
  margin-bottom: 20px;
  color: var(--lite-gray);
  text-align: left;
}
.read-more-txt{
  cursor:pointer;
}

.btn {
  position: relative;
  overflow: hidden;
  padding: 12px 35px;
  background-color: var(--black);
  font-family: 'Assistent', sans-serif;
  color: var(--white);
  font-size: 18px;
  border: 1px solid var(--white);
  border-radius: 10px;
  cursor: pointer;
  outline: none;
}

.btn:hover {
  background-color: var(--white);
  color: var(--black);
  border: 1px solid var(--black);
}

.btn i {
  font-size: 16px;
  margin-left: 15px;
}

button:hover i {
  font-size: 14px;
}

button i {
  transition: transform 0.3s ease;
}

button:hover i {
  transform: translateX(5px);
}
.slide-left {
  animation: slideleft 1s linear forwards;
  opacity: 0;
}

@keyframes slideleft {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.animate-on-scroll {
  opacity: 0;
  transform: translateY(20px);
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-on-scroll.visible {
  animation: fadeInUp 0.8s ease forwards;
}
.section-991{
  display:block;
}
.section-767{
  display:none;
}
.row-reverse {
  flex-direction: row-reverse;
}
@media(min-width:1440px){
  #common-h3{
    font-size: 28px;
  }
}
@media(max-width:991px) {
  .row {
    gap: 20px;
  }
  .col-md-6 {
    padding: 0;
    width: 100%;
  }
  .col-md-6 img{
    width: 100%;
  }
  .Cyber-Security, .model-based {
    flex-direction: column-reverse;
  }

}
@media(max-width:767px){
  .section-991{
    display:none;
  }
  .section-767{
    display:block;
  }
  .service-list{
    margin-top: 0;
    margin-bottom: 0;
  }
}
@media(max-width:575px) {

  .heading-section{
    flex-direction: column-reverse;
    gap: 20px;
  }
  #common-h1 {
    font-size: 36px;
  }
  #common-h3{
    font-size: 20px;
  }
  #common-h4{
    font-size: 18px;
  }
}