<section class="section1">
  <div class="product-container">
     <!-- <div class="main-container">
      <div class="container">
        <h1 class="question-txt-heading" id="common-h1">
          Frequently asked questions
        </h1>
        <div class="accordion question-accordion" id="accordionExample">
          <div class="accordion-item custom-accordian">
            <h2 class="accordion-header" id="headingOne">
              <button class="accordion-button collapsed custom-accordian-btn" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <h3 class="question-txt" id="common-h3">What's the advantage over hiring a full-time designer?</h3>
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
              data-bs-parent="#accordionExample">
              <div class="accordion-body custom-accordian-body">
                <h4 class="answer-txt" id="common-h4">Great Question! To begin, the expense for retaining a
                  full-time designer at a senior level has surpassed €80,000 per year, inclusive of benefits
                  (and finding an available one might prove challenging). If you also need animation, you might
                  end up paying double this to hire a motion designer.</h4>
              </div>
            </div>
          </div>
          <div class="accordion-item custom-accordian">
            <h2 class="accordion-header" id="headingTwo">
              <button class="accordion-button collapsed custom-accordian-btn" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                <h3 class="question-txt" id="common-h3">Is there a maximum number of requests I am allowed to
                  make?</h3>
              </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
              data-bs-parent="#accordionExample">
              <div class="accordion-body custom-accordian-body">
                <h4 class="answer-txt" id="common-h4">Great Question! To begin, the expense for retaining a
                  full-time designer at a senior level has surpassed €80,000 per year, inclusive of benefits
                  (and finding an available one might prove challenging). If you also need animation, you might
                  end up paying double this to hire a motion designer.</h4>
              </div>
            </div>
          </div>
          <div class="accordion-item custom-accordian">
            <h2 class="accordion-header" id="headingThree">
              <button class="accordion-button collapsed custom-accordian-btn" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                <h3 class="question-txt" id="common-h3">How quickly can I expect to receive the designs I've
                  requested?</h3>
              </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
              data-bs-parent="#accordionExample">
              <div class="accordion-body custom-accordian-body">
                <h4 class="answer-txt" id="common-h4">Great Question! To begin, the expense for retaining a
                  full-time designer at a senior level has surpassed €80,000 per year, inclusive of benefits
                  (and finding an available one might prove challenging). If you also need animation, you might
                  end up paying double this to hire a motion designer.</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->
    <div class="our-clients">
      <div class="container">
        <h1 class="trusted-txt-heading" id="common-h1">
          Trusted by global brands
        </h1>
        <div class="row">
          <div class="col-md-3">
            <img src="../../../../assets/images/our-client-img-1.png" alt="client-img-1" class="img-fluid">
          </div>
          <div class="col-md-3">
            <img src="../../../../assets/images/our-client-img-2.png" alt="client-img-2" class="img-fluid">
          </div>
          <div class="col-md-3">
            <img src="../../../../assets/images/our-client-img-3.png" alt="client-img-3" class="img-fluid">
          </div>
          <div class="col-md-3">
            <img src="../../../../assets/images/our-client-img-4.png" alt="client-img-4" class="img-fluid">
          </div>
        </div>
      </div>
    </div>
    <div class="title-section">
      <div class="company-txt-section">
        <h1 class="company-txt">ETTIKSOFT TECHNOLOGIES</h1>
      </div>
    </div>
  </div>
</section>
<footer>
  <div class="container" id="container">
    <div class="row footer-row">
      <div class="col-md-3">
        <div class="text-center">
          <img src="../../../../assets/images/ettiksoft-logo.png" (click)="goToTop()" [routerLink]="'/'"  alt="Company Logo" class="img-fluid mb-2">
        </div>
        <div class="text-center social-icon">
          <a *ngFor="let socialLink of socialLinks" [href]="socialLink.link" class="text-light ml-2">
            <i [class]="socialLink.iconClass"></i>
          </a>
        </div>
      </div>
      <div *ngFor="let siteLink of siteLinks" class="col-md-2">
        <h5 id="common-h4">{{ siteLink.category }}</h5>
        <ul>
          <li *ngFor="let link of siteLink.links">
            <a [routerLink]="link.path" (click)="goToTop()" id="common-p">{{ link.label }}</a>
          </li>
        </ul>
      </div>
      <div class="col-md-2">
        <h5 id="common-h4">Contact us</h5>
        <h4 id="common-h4">Phone</h4>
        <ul>
          <li id="common-p">+91 7373689304</li>
          <li id="common-p">+91 9789881190</li>
        </ul>
        <h4 id="common-h4">Email</h4>
        <ul>
          <li id="common-p">info@ettiksoft.com</li>
        </ul>
        <h4 id="common-h4">Address</h4>
        <ul>
          <li id="common-p">No:6/1116-1/3, Paramathi Road, C E B Colony, Namakkal, Tamil Nadu 637001.</li>
        </ul>
      </div>
    </div>
    <div class="footer-accordion">
      <div class="logo-section">
        <div class="text-center">
          <img src="../../../../assets/images/ettiksoft-logo.png" (click)="goToTop()" [routerLink]="'/'"  alt="Company Logo" class="img-fluid mb-2">
        </div>
        <div class="text-center social-icon">
          <a *ngFor="let socialLink of socialLinks" [href]="socialLink.link" class="text-light ml-2">
            <i [class]="socialLink.iconClass"></i>
          </a>
        </div>
      </div>
      <div class="accordion accordion-flush" id="accordionFlushExample">
        <div *ngFor="let siteLink of siteLinks" class="accordion-item custom-accordion">
          <h2 class="accordion-header" [attr.id]="'flush-heading' + siteLink.category | lowercase">
            <button class="accordion-button collapsed" id="common-h4" type="button" data-bs-toggle="collapse"
              [attr.data-bs-target]="'#flush-collapse' + siteLink.category | lowercase" aria-expanded="false"
              [attr.aria-controls]="'flush-collapse' + siteLink.category | lowercase">
              {{ siteLink.category }}
            </button>
          </h2>
          <div [attr.id]="'flush-collapse' + siteLink.category | lowercase" class="accordion-collapse collapse"
            [attr.aria-labelledby]="'flush-heading' + siteLink.category | lowercase" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <ul>
                <li *ngFor="let link of siteLink.links">
                  <a [routerLink]="link.path" (click)="goToTop()" id="common-p">{{ link.label }}</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="accordion-item custom-accordion">
          <h2 class="accordion-header" id="flush-headingFour">
            <button class="accordion-button collapsed" id="common-h4" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
              Contact Us
            </button>
          </h2>
          <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <h4 id="common-h4">Phone</h4>
              <ul>
                <li id="common-p">+91 7373689304</li>
                <li id="common-p">+91 9789881190</li>
              </ul>
              <h4 id="common-h4">Email</h4>
              <ul>
                <li id="common-p">info@ettiksoft.com</li>
              </ul>
              <h4 id="common-h4">Address</h4>
              <ul>
                <li id="common-p">No:6/1116-1/3, Paramathi Road, C E B Colony, Namakkal, Tamil Nadu 637001.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>



  <div class="column copy_rights">
    <p>&copy; 2024 Ettiksoft Technologies. All rights reserved.</p>
  </div>
</footer>
<!-- <section class="section3"></section> -->