<div class="main-container"id="main-container">
  <div class="background-img"*ngIf="!isLoading; else skeletonTemplate">
    <div class="row">
      <div class="col-md-12 content">
        <div class="text-container">
          <div class="heading-txt">
            <h1 id="common-h1" class="slide-left" style=" animation-delay: 0.2s">Experience a Culture of Excellence</h1>
          </div>
          <div class="stright-line slide-left" style=" animation-delay: 0.4s"></div>
          <div class="paragraph-txt">
            <p id="common-p" class="slide-left" style=" animation-delay: 0.6s">Discover a culture that thrives on
              collaboration, innovation, and a passion for excellence as you join our
              team.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-template #skeletonTemplate>
    <div class="skeleton-rect"></div>
</ng-template>
</div>