.main-container{
  background-color: var(--medium-black);
}
.row{
  padding-top: 20px;
  border-radius: 24px;
  background-color: var(--black);
  box-shadow: 0px 4px 4px 0px #00000026;
  margin: 0;
}
.card{
  border: none;
  background-color: var(--black);
  margin-bottom:30px;
}
.with-border {
  position: relative;
}

.with-border::after {
  content: "";
  position: absolute;
  top: 10%;
  right: 0;
  bottom: 10%;
  width: 1px;
  background-color:var(--lite-gray);
}
.with-border:last-child::after {
  display: none;
}
.card img{
  max-width:100px;
}
.skeleton-rect {
  content: '';
  width: 25%; 
  height: 50px; 
  background:var(--medium-black);
  margin: 0 10px;
  background-size: 200%;
  animation: skeleton 10s linear infinite;
}
@keyframes skeleton{
  0%{
    background-position: -100% 0;
  }
  100%{
    background-position: 100% 0;
  }
}
h1 {
  font-weight:500;
  font-family: 'Poppins', sans-serif;
  color: var(--lite-grey);
  font-size: 1.5rem;
  margin-bottom: 10px;
}
p{
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  color: var(--grey);
}
.card-body a{
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--lite-blue);
  margin: 0;
  padding: 0;
}
.animate-on-scroll {
  opacity: 0;
  transform: translateY(20px);
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-on-scroll.visible {
  animation: fadeInUp 0.8s ease forwards;
}
@media(max-width:767px){
  .with-border::after{
    display:none;
  }
  .card{
    border: none;
    background-color: var(--black);
    margin-bottom:50px;
  }
}