<div class="container mt-5" appCareersPageScroll>
  <div class="row">
    <div class="col-12 heading">
      <h1 class="slide-left ">Explore your opportunities</h1>
    </div>
    <h1>Currently No Openings..</h1>
  </div>
  <div class="row mt-4">
    <div class="col-md-6 mb-4" *ngFor="let job of jobOpenings; let i = index">
      <div class="card animate-on-scroll" [ngClass]="{'visible': isVisible}" [ngClass]="i % 2 === 0 ? 'slide-in-left' : 'slide-in-right'">
        <div class="card-body">
          <div class="text-section">
            <h1 class="card-title">{{ job.role }}</h1>
            <p class="card-text">Experience: {{ job.experience }}</p>
            <p class="card-text">Location: {{ job.location }}</p>
          </div>
          <div class="apply-btn">
            <button type="button" class="btn btn-outline" (mouseenter)="changeIcon(i)" (mouseleave)="resetIcon(i)" (click)="navigateToFormMain()">Explore <i [class]="job.iconClass" aria-hidden="true"></i></button>
          </div>  
        </div>
      </div>
    </div>
  </div>
</div>