.main-container{
  width: 100%;
  background-color: var(--black);
}
#background-video {
  /* position: absolute; */
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
}