.fullscreen-video-container {

 
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.col-md-12{
  padding: 0px;
}
/* Ensure the video fills the entire container */
.fullscreen-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}