<div class="main-container"id="main-container">
  <div class="background-img ">
    <div class="container">
      <div class="text-content">
        <h1 id="common-h1" class="slide-left" style="animation-delay: 0.2s;">Breakout Box
        </h1>
        <div class="stright-line slide-left" style="animation-delay: 0.4s;"></div>
        <p id="common-h4" class="slide-left" style="animation-delay: 1s;">Breakout Boxes are used for the process of testing,
          troubleshooting, measurement of other parameters for the electronic control unit.</p>
        <div class="commen-button slide-left" style="animation-delay: 0.6s;">
          <button (mouseenter)="changeIcon()" (mouseleave)="resetIcon()" (click)="openEnquirePopup()">
            Enquire<i [class]="iconClass" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>