.main-container{
  background-color: #191919;
}
#common-h1{
  color: var(--grey);
  text-align: center;
  font-size: 2rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}
.card-container{
  padding: 50px 0;
  overflow: hidden;
}
.card {
  margin: 10px;
  cursor: pointer;
  height: 500px;
  border-radius: 20px;
  border: none;
  background-image: url(../../../../assets/images/new_bg_card.png);
  background-color: rgb(0, 0, 0);
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-blend-mode: luminosity;
  background-color: #0E0E0E;
  padding: 10px;
}

.card-inner {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

.front,
.back {

  border-radius: 20px;
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.back {
  transform: rotateY(180deg);
  transition: opacity 0.6s;
}

.flipped .back {
  opacity: 1;
}

.flipped {
  transform: rotateY(180deg);
}
.leader-img{
  margin-bottom: 30px;
}
.leader-img-back{
  margin-bottom: 10px;
}
.front img,.back img {
  border-radius: 100%;
  max-width: 70%;
}

.leaders-card-heading{
  text-align: center;
  font-size: 1.75rem;
  color: var(--grey);
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}
.name{
  font-family: 'Poppins',sans-serif;
  font-size: 1.5rem;
  font-weight:500;
  color: var(--grey);
  
}
.position{
  font-family: 'Poppins',sans-serif;
  font-size: 1.2rem;
  font-weight:500;
  line-height: normal;
  color: var(--grey);
}
.company{
  font-family: 'Poppins',sans-serif;
  font-size: 1rem;
  line-height: normal;
  font-weight: 500;
  color: var(--red);
}

.company-para{
  font-family: 'Poppins',sans-serif;
  font-size: 1rem;
  line-height: normal;
  color: var(--grey);
  
}
.front .logo{
  max-width: 200px;
}
.back-icon{
  font-size: 40px;
  color: var(--grey);
}
@media (max-width:991px){
  .col-md-4{
    width: 50%;
  }
}
@media (max-width:767px){
  .col-md-4{
    width: 100%;
  }
}

@media (max-width: 575.98px) { 

  .card-container{
      padding: 30px;
}
.card{
  height:500px;
}
}