<div class="navbar-component">
  <nav class="navbar navbar-expand-lg navbar-dark ">
   <a class="navbar-brand" href="#"> <img src="../../../../assets/images/ettiksoft-logo.png" alt="logo-img"></a>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
     <span class="navbar-toggler-icon"></span>
   </button>

   <div class="collapse navbar-collapse" id="navbarSupportedContent">
     <ul class="navbar-nav mr-auto">
       <li class="nav-item">
         <a class="nav-link" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><h4>Products<i class="fa-solid fa-chevron-down" ></i></h4></a>
         <div class="dropdown-menu full-width" aria-labelledby="navbarDropdown">
           <a class="dropdown-item" href="#"><h5 id="common-h4">Products</h5></a>
           <span class="dropdown-line"></span>
           <div class="dropdown-cards d-flex flex-row flex-wrap">
               <div class="col-12 col-md-4 my-3 ">
                 <a href="/load-box"> <div class="card card-hover border-0">
                   <div class="card-body">
                     <h5 class="card-title">Load Box</h5>
                     <p class="card-text">Revolutionize your automotive ECU bench testing with our cutting-edge Load Box!</p>
                   </div>
                 </div></a>
               </div>
               <div class="col-12 col-md-4 my-3 border-0">
                <a href="/break-out-box"> <div class="card card-hover border-0">
                   <div class="card-body">
                    <h5 class="card-title" >Break Out Box</h5>
                     <p class="card-text">Explore the precision testing with our Breakout Box</p>
                   </div>
                 </div></a>
               </div>
               <div class="col-12 col-md-4 my-3 ">
                <a href="/emi-wiring"><div class="card card-hover border-0">
                   <div class="card-body">
                    <h5 class="card-title">EMI Wiring</h5>
                     <p class="card-text">Elevate Your Automotive ECU/VCU Testing with Our EMI/EMC Wiring</p>
                   </div>
                 </div></a>
               </div> 
               <div class="col-12 col-md-4 my-3 ">
                <a href="/ev-page"> <div class="card card-hover border-0">
                   <div class="card-body">
                    <h5 class="card-title">EV Components</h5>
                     <p class="card-text">We make custom Q test systems for vehicle production lines.</p>
                   </div>
                 </div></a>
               </div>
               <div class="col-12 col-md-4 my-3">
                 <a href="/variant-switch"><div class="card card-hover border-0">
                   <div class="card-body">
                    <h5 class="card-title" >Variant Switch</h5>
                     <p class="card-text">Variant switcher enables remote operation of changing the ECU variants (DUT) with the HIL</p>
                   </div>
                 </div></a>
               </div>
           </div>
         </div>
         


       </li>
       <li class="nav-item">
         <a class="nav-link" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><h4>Services<i class="fa-solid fa-chevron-down"></i></h4></a>
         <div class="dropdown-menu full-width" aria-labelledby="navbarDropdown">
           <a class="dropdown-item" href="#"><h5>Services</h5></a>
           <span class="dropdown-line"></span>
           <div class="dropdown-cards d-flex flex-row flex-wrap">
               <div class="col-12 col-md-4 my-3 ">
                 <a href="/iot-solution-page"><div class="card card-hover border-0">
                   <div class="card-body">
                    <h5 class="card-title" >IOT Solutions</h5>
                     <p class="card-text">Ettiksofts IIoT solutions guarantee a secure, safe, and intelligent ecosystem, evolving alongside user experiences.</p>
                   </div>
                 </div></a>
               </div>
               <div class="col-12 col-md-4 my-3 border-0">
                 <a href="/mobility-engineering-page"><div class="card card-hover border-0">
                   <div class="card-body">
                    <h5 class="card-title">Mobility Engineering</h5>
                     <p class="card-text">Our experties focuses on reliability, safety, and cyber security in Mobility Engineeering.</p>
                   </div>
                 </div></a>
               </div>

           </div>
         </div>
       </li>
       <li class="nav-item">
         <a class="nav-link" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><h4>Company<i class="fa-solid fa-chevron-down"></i></h4></a>
         <div class="dropdown-menu full-width" aria-labelledby="navbarDropdown">
           <a class="dropdown-item" href="#"><h5>Company</h5></a>
           <span class="dropdown-line"></span>
           <div class="dropdown-cards d-flex flex-row flex-wrap">
               <div class="col-12 col-md-4 my-3 ">
                 <a href="/about-page"><div class="card card-hover border-0">
                   <div class="card-body">
                    <h5 class="card-title">About Us</h5>
                     <p class="card-text d-none d-md-block">Leading with innovation, sustainability, and customer focus.</p>
                   </div>
                 </div></a>
               </div>
               <div class="col-12 col-md-4 my-3 border-0">
                 <a href="/life-at-ettiksoft"><div class="card card-hover border-0">
                   <div class="card-body">
                    <h5 class="card-title">Life at Ettiksoft</h5>
                     <p class="card-text d-none d-md-block">Dynamic culture, innovation, and collaboration thrive</p>
                   </div>
                 </div></a>
               </div>
               <div class="col-12 col-md-4 my-3 ">
                 <a href="/careers-page"><div class="card card-hover border-0">
                   <div class="card-body">
                    <h5 class="card-title" >Careers</h5>
                     <p class="card-text d-none d-md-block">Innovate, grow, and shape the future at Etiksoft!</p>
                   </div>
                 </div></a>
               </div> 
               <div class="col-12 col-md-4 my-3 ">
                 <a href="/contact-us"><div class="card card-hover border-0">
                   <div class="card-body">
                    <h5 class="card-title" >Contact us</h5>
                     <p class="card-text d-none d-md-block">Questions? Contact us for support!</p>
                   </div>
                 </div></a>
               </div>
             
           </div>
         </div>
       </li>
     </ul>
     <ul class="navbar-nav ml-auto">
       <li class="nav-item dropdown">
         <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-globe"></i><h4 class="card-title language" >Language</h4>
         </a>
         <div class="dropdown-menu language-dropdown" aria-labelledby="navbarDropdown">
           <a class="dropdown-item" href="#"><img src="../../../../assets/images/germany.svg"alt="flag"/>EN</a>
           <a class="dropdown-item" href="#"><img src="../../../../assets/images/england.svg"alt="flag"/>GE</a>
         </div>
       </li>
       <li class="nav-item">
         <a class="nav-link" href="#"><button class="btn btn-primary btn-text">Login</button></a>
       </li>
     </ul>
   </div>
 </nav>




   </div>
  