.dropdown-line {
    display: block;
     width: 100%;
     height: 2px;
     margin: 0px 20px 0px 20px;
     color: var(--line-grey);
     background-color:var(--line-grey);
    }/* Black line */
   
   .full-width {
     width: 100vw; /* Full width of viewport */
   }
  .navbar{
    background-color: #000;

  } 
   .navbar a img{
    max-width: 170px;
   }
   .card-hover:hover {
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
     transition: box-shadow 0.3s ease;
   }
   .dropdown-menu.full-width.show {
    border: 0px;
    border-radius: 0px;
    background-color: var(--black);
}
 .nav-item a h4{
    margin-bottom: 0px;
 }
.nav-item  a i{

   margin-top: 10px;
   font-size: 1.2rem;
}
.nav-item a .language{
    display: none;
   
}
.dropdown-menu a h5{
    font-family: 'Poppins',sans-serif;
    font-size: 1.25rem;
    color: var(--lite-grey);
    font-weight: 500;

}
.nav-item .nav-link{
   color: var(--lite-grey);
}
.nav-item .nav-link:hover{
    color: var(--lite-blue);
 }
 .nav-item .nav-link:active{
    color: var(--lite-blue);
 }
.dropdown-item:hover{
        background-color: black;
}
.nav-item button{
    padding-left: 30px;
    padding-right: 30px;
    background-color: var(--lite-blue);
    margin-left: 15px;
    margin-right: 15px;
    border: none;
}
.card{
    background-color: var(--black);
}
.card-body{
    background-color: var(--black);
    border-radius: 10px;
}
.card-body:hover{
    border:1px solid  rgba(0, 255, 217, 0.4);
    box-shadow: 0 4px 8px rgba(0, 255, 217, 0.4);
    transition: box-shadow 0.3s ease;
}

.card-body .card-title{
    font-family: 'Poppins',sans-serif;
    font-size: 1.25rem;
    color: var(--lite-grey);
    font-weight:500;
}
.card-body:hover .card-title{
    color:var(--lite-blue)
}
.card-body .card-text{

    color: var(--grey);
}
.language-dropdown{

    background-color: var(--dark-grey);
    
}
.language-dropdown a{
    font-family: 'Poppins',sans-serif;
    font-size: 1rem;
    color: var(--lite-grey);
}
.language-dropdown a:hover{
   color: var(--lite-blue);
}
.language-dropdown img{
    width:16px;
    margin-right: 10px;
}
@media (max-width:576px) { 
    .navbar-collapse{
        margin-left: 10px;
        margin-right: 10px;
        color: var(--lite-grey);
    }
    .nav-item button{
        display: block;
        width:100%;
        margin-left:auto;
        margin-right: auto;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .nav-item  a i{
        display: none;
    
    }
    .nav-item a  .language{
        display: block;
      
        
    }
    .dropdown-toggle::after {
    display: none;
    }
    .nav-item .nav-link h4{
        font-family: 'Poppins',sans-serif;
        color: var(--lite-grey);
        font-weight: 300;
        margin-bottom: 5px;
    }
    .nav-item .nav-link{
        border-top: 1.5px solid var(--dark-grey);
    }
    .card-body .card-title{
        font-family: 'Poppins',sans-serif;
       
        margin-bottom: 15px;
        font-size:1rem;
        color: var(--grey);
        font-weight:300;
    }
    .card-body .card-text{
        display: none;
    }
    .card-body{
        padding: 0px;
    }
    .col-12{
        margin: 0px;
    }
    .my-3{
        margin: 0!important;
    }
    .dropdown-item h5,.dropdown-line{
        display: none;
    }
    .language-dropdown{
        background-color: var(--dark-grey);
        
    }
    .language-dropdown a{
        margin-bottom: 15px;
        color: var(--lite-grey);
    }

}