<div class="main-container">
  <div class="nav-section">
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" href="#">
        <img src="../../../../assets/images/ettiksoft-logo.png" alt="Logo">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item dropdown position-static">
            <a class="nav-link dropdown-toggle" role="button" id="navbarDropdown1" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Products 
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
              <app-product-nav></app-product-nav>
            </div>
          </li>
          <li class="nav-item dropdown position-static">
            <a class="nav-link dropdown-toggle" role="button" id="navbarDropdown2" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           Services 
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
              <app-service-nav></app-service-nav>
            </div>
          </li>
          <li class="nav-item dropdown position-static">
            <a class="nav-link dropdown-toggle" role="button" id="navbarDropdown3" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           Company 
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown3">
              <app-company-nav></app-company-nav>
            </div>
          </li>
          <!-- <li class="nav-item dropdown position-static">
            <a class="nav-link dropdown-toggle" role="button" id="navbarDropdown4" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           Resoruces 
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown4">
              <app-recource-nav></app-recource-nav>
            </div>
          </li> -->
          <!-- <li class="nav-item dropdown header-list position-static">
            <a class="nav-link dropdown-toggle" role="button" id="navbarDropdown5" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           Announcement
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown5">
              <app-announcement-media-nav></app-announcement-media-nav>
            </div>
          </li> -->
          <li class="nav-item dropdown header-list position-static">
            <a class="nav-link dropdown-toggle" role="button" id="navbarDropdown6" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           Language
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown6">
              <app-language-media-nav></app-language-media-nav>
            </div>
          </li>
          <!-- <li class="nav-item dropdown header-list position-static">
            <a class="nav-link dropdown-toggle" role="button" id="navbarDropdown7" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Support
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown7">
              <app-suppot-media-nav></app-suppot-media-nav>
            </div>
          </li> -->
        </ul>
        <div class="nav-btn">
          <button class="btn sign-in-btn">
           Signin</button>
           <div class="laguage-section">
            <app-language-media-nav></app-language-media-nav>
           </div>
        </div>
      </div>
    </nav>
  </div>
</div>
