#main-container {
  max-width: 100%;
  background-color: var(--black);
  padding: 0;
  padding-top: 80px;
}

.background-img {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.background-img  {
  width: 100%;
  height: 100%;
  background-image: url('../../../../../assets/images/products-page/Group-29.svg'); 
  background-size: cover;
  background-position: center;
  display:flex;
  flex-direction: row;
  align-items: flex-end;
}
.skeleton-rect {
  content: '';
  width: 100%; 
  height: 400px; 
  background:linear-gradient(91.54deg, #04152A, #0e151b);
  margin: 0 10px;
  background-size: 200%;
}
.text-content {
  margin: 10% 20px;
  text-align: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#common-h1 {
  font-weight: 600;
  font-size: 2rem;
  font-family: 'Poppins', sans-serif;
  color: var(--lite-grey);
}

#common-h4 {
  font-weight: 400;
  font-size: 1.2rem;

  font-family: 'Poppins', sans-serif;
  color:var(--lite-grey);
}


.stright-line {
  height: 5px;
  width: 300px;
  background-color: var(--grey);
  margin: 0px auto;
  text-align: center;
}

.commen-button {
  display: inline-block;
  margin: 10px;
}

button {
  position: relative;
  overflow: hidden;
  padding: 12px 35px;
  background-color: var(--black);
  font-family: 'Poppins', sans-serif;
  color: var(--lite-gray);
  font-size: 18px;
  border: 1px solid var(--grey);
  border-radius: 10px;
  cursor: pointer;
  outline: none;
}
button:hover {

  color: var(--lite-blue);
  border: 1px solid var(--lite-blue);
}

button i {
  font-size: 20px;
  margin-left: 10px;
}

button:hover i {
  font-size: 14px;
}

button i {
  transition: transform 0.3s ease;
}

button:hover i {
  transform: translateX(5px);
}
.slide-left {
  opacity: 0;
  animation: slideleft 1s linear forwards;
}

@keyframes slideleft {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@media(min-width:1400px) {
  .main-container {
    padding-top: 6%;
  }
}

@media(max-width:1380px) {
  .main-container {
    padding-top: 10%;
  }
}

@media(max-width:991px) {
  #common-h4  {
    font-size: 18px;
  }
  button {
    padding: 9px 30px
  }
  .text-content {
    gap:15px
  }

}

@media(max-width:768px) {
  .main-container {
    padding-top: 11%;
  }
  #common-h1 {
    font-size: 36px;
    margin: 0;
  }

}

@media(max-width:575px) {
  .main-container {
    padding-top: 14%;
  }
  #common-h4  {
    font-size: 16px;
  }
  #common-h1  {
    font-size: 30px;
  }
  .text-content {
    gap:10px
  }

}

@media(max-width:480px) {
  .main-container {
    padding-top: 18%;
  }
}