<div class="main-container">
  <div class="background-img ">
    <div class="container">
      <div class="text-content">
        <h1 class="slide-left" style="animation-delay: 0.2s;">Variant switcher
        </h1>
        <div class="stright-line slide-left" style="animation-delay: 0.4s;"></div>
        <p class="slide-left" style="animation-delay: 1s;">The Variant switcher enables remote operation of changing the
          ECU variants (DUT) with the HIL.</p>
        <div class="commen-button slide-left" style="animation-delay: 0.6s;">
          <button (mouseenter)="changeIcon()" (mouseleave)="resetIcon()" (click)="openEnquirePopup()">
            Enquire<i [class]="iconClass" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>