<div class="container-fluid">
  <h2 class="section-title" id="common-h2">OUR PRODUCTS</h2>
  
  <div class="row row1">
    <div class="col-md-4 mb-5">
      <div class="card card-txt">
        <div class="card-body text-card">
          <div class="our-team-section">
            <h2 id="common-h2">Our team consistently adopts the evolving technology and delivers the products to the Customer.</h2>
            <p id="common-p">We manufacture the products which serve the present and future lifestyle requirements.</p>
            <div class="sys-explore-btn">
             <a href="/emi-wiring"> <button class="btn explore-btn">For more products <i class="fa-solid fa-arrow-right"></i></button></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-5">
      <div class="card card-img">
        <div class="card-body img-card">
          <div class="load-box-img box-img">
            <img src=".././../../../assets/images/product-2-box.jpg" alt="load-box-img" class="">
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-5">
      <div class="card card-txt">
        <div class="card-body text-card">
          <div class="load-box-section">
            <div class="load-box-txt-section product-card">
              <h2 class="title" id="common-h2"><span></span>LOAD BOX</h2>
              <h4 id="common-h4">Revolutionize your automotive ECU bench testing with our cutting-edge Load Box.</h4>
              <p class="load-box-para" id="common-p">Load bank is a part of electrical test equipment used to simulate electrical loads, to test power source without connecting it to its actual load</p>
              <div class="sys-explore-btn">
                <a href="/load-box"><button class="btn explore-btn">More <i class="fa-solid fa-arrow-right"></i></button></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> <!-- End of first row -->

  <div class="row row2">
    <div class="col-md-4 mb-5">
      <div class="card card-img">
        <div class="card-body img-card">
          <div class="load-box-img box-img">
            <img src=".././../../../assets/images/product-load-box.jpg" alt="load-box-img" class="">
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-5">
      <div class="card card-txt">
        <div class="card-body text-card">
          <div class="breakout-box-section">
            <div class="break-out-txt-section product-card">
              <h2 class="title" id="common-h2"><span></span>BREAKOUT BOX</h2>
              <h4 id="common-h4">Explore the precision testing with our Breakout Box.</h4>
              <p class="breakout-box-para" id="common-p">The Breakout boxes we manufacture span a wide spectrum of functionality. They have been designed in a very precise manner using the best technology and high quality of raw materials at affordable cost.</p>
              <div class="sys-explore-btn">
                <a href="/break-out-box"><button class="btn explore-btn">More <i class="fa-solid fa-arrow-right"></i></button></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-5">
      <div class="card card-img">
        <div class="card-body img-card">
          <div class="breakout-box-img box-img">
            <img src=".././../../../assets/images/product-3-box.jpg" alt="breakout-box-img" class="">
          </div>
        </div>
      </div>
    </div>
  </div> <!-- End of second row -->

</div>
