<div class="main-container" id="main-container">
  <div class="container" id="container">
    <h1 id="common-h1">Ready to Assist Across Countries</h1>

    <div class="row">
      <div class="col-md-4">
        <div class="card" *ngFor="let country of countries" (click)="showCountry(country)" [ngClass]="{'selected-country': selectedCountry === country.name}">
          <h1 id="common-h3" [style.color]="selectedCountry === country.name ?'' : ''">{{ country.name }}</h1>
          <p id="common-p">{{ country.address }}</p>
        </div>
      </div>      
      <div class="col-md-8">
        <iframe *ngIf="selectedCountry === 'India'" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1002651.6578753684!2d75.86282730102538!3d10.992929358527602!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba859dd96aa7d0d%3A0x557ec0aaf3764931!2sEttiksoft%20Technologies%20Private%20Limited!5e0!3m2!1sen!2sin!4v1702387253518!5m2!1sen!2sin" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <iframe *ngIf="selectedCountry === 'Europe'"src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2713.6629708203204!2d8.4367827!3d47.1448686!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47900152f215c8a5%3A0x64584bdb54ca8801!2sSuurstoffi%2037%2C%206343%20Risch-Rotkreuz%2C%20Switzerland!5e0!3m2!1sen!2sin!4v1703942118938!5m2!1sen!2sin" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <iframe *ngIf="selectedCountry === 'Vietnam'"src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.284446917168!2d106.69388137508878!3d10.789512589360056!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317528cb2c5a9495%3A0xe5636a6bd45663d2!2zMTE0IMSQLiDEkGnhu4duIEJpw6puIFBo4bunLCDEkGEgS2FvLCBRdeG6rW4gMSwgVGjDoG5oIHBo4buRIEjhu5MgQ2jDrSBNaW5oLCBWaWV0bmFt!5e0!3m2!1sen!2sin!4v1703941968175!5m2!1sen!2sin" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
  </div>
</div>
