<div class="main-container">
  <!-- <video autoplay muted loop id="background-video">
    <source src="../../../../assets/images/intro_video.mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video> -->
  <video autoplay muted loop playsinline preload="auto" onloadedmetadata="this.muted = true" id="background-video">
    <source [src]="video" type="video/mp4" />
  </video>
  <div class="nav-bar" [class.show-nav-bar]="showNavBar">
    <div class="brand">
      <img src="../../../../assets/images/ettiksoft-logo.png" alt="logo">
    </div>
    <div class="hamburger-menu">
      <i class="fa-solid fa-bars"></i>
    </div>

  </div>
</div>
