.main-container {
  width: 100%;
  height: 100vh;
  padding-top: 30px;
}
#background-video {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
}
.nav-bar {
  width: 100%;
  height: 55px;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 1000;
  transition: top 0.3s, background-color 0.3s;
  top: -100px;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(10px);
}

.brand img {
  height: 120px;
  width: 200px;
}

.hamburger-menu i {
  color: var(--white);
  font-size: 24px;
  cursor: pointer;
}

.show-nav-bar {
  top: 0;
  background-color: rgba(0, 0, 0, 0.9);
  backdrop-filter: blur(0px);
}
