.container-fluid{
  width: 100%;
  background-color: var(--black);
  padding: 30px;
 display: flex;
 margin-top: auto;
 margin-bottom: auto;
 justify-content:center ;
 align-items: center;
}
.row{
  margin-top: 50px;
  margin-bottom: 50px;
}
.life-at-content{

  background-color: var(--black);
}
.life-at-content {
  background-color: var(--black);
  /* Center content horizontally */
  width: 100%;
  height: 100%; /* Ensure content takes up full height */
}

.card-body{
  display: flex;
  flex-direction: column;
  /* Center content vertically */
  justify-content: center;
  margin-top: auto;
  margin-bottom: auto;
}
.life-at {
  background-color: var(--black);
}
h1{
  font-family: 'Poppins',sans-serif;
  font-size: 2.5rem;
  font-weight: 600;

}
#common-h2{
  font-family: 'Poppins',sans-serif;
  font-size: 2rem;
  font-weight:600;

}
#common-h3{
  font-family: 'Poppins',sans-serif;
  font-size: 1.75rem;
  font-weight:600;

}

#common-h4{
  font-family: 'Poppins',sans-serif;
  font-size: 1.5rem;
  font-weight:500;


}
#common-h6{
  font-family: 'Poppins',sans-serif;
  font-size: 1.2rem;
  font-weight:500;
  line-height: normal;
  color: var(--grey);
}
.heading-2{
  color:var(--grey);
}
.heading-3{
  margin-top: 15px;
  color:var(--lite-blue);
}
.heading-4{
    margin-top: 15px;
color: var(--red);
}
.explore-btn{
 width:150px;
  border: 1px solid var(--grey);
  color: var(--grey);
  font-family: 'Poppins',sans-serif;
  font-size: 1rem;
  margin-top:10px;
  
}
.btn i{
  margin-left:5px;
}
.explore-btn:hover{
  color: var(--lite-blue);
  border: 1px solid var(--lite-blue);
  box-shadow: 0 4px 8px 0 rgba(0, 255, 213, 0.657);
}
#common-p{
  font-family: 'Poppins',sans-serif;
  font-size: 1rem;
  line-height: normal;
  color: var(--grey);
}

.life-at{
  height:100%;
  border-radius: 10px;
  overflow: hidden;
}
.life-at img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;

  transition: transform 0.3s ease;
 /* Prevents overflow of zoomed images */
}

.life-at img:hover {
  transform: scale(1.1);
}

@media (max-width: 575.98px) { 

  .main-container{
      padding: 20px;
}

}
@media (max-width: 767.98px) {  }


@media (max-width: 991.98px) { }

@media (max-width: 1199.98px) {  }

@media (max-width: 1399.98px) {  }