<div class="container-fluid">

  <div class="row">
    <div class="col-md-6 container1">
      <div class="card mb-4 life-at">
        <img src="../../../../assets/images/life-at-ettiksoft/section2-LAE/1.jpg" alt="office-img" class="card-img-top img-fluid">
      </div>
    </div>
    <div class="col-md-6">
      <div class="card mb-4 life-at-content" >
        <div class="card-body">
          <h6 class="card-title heading-2" id="common-h6">Life at Ettiksoft</h6>
          <h2 class="card-subtitle mb-2  heading-3" id="common-h2">EttikSoft Chronicles</h2>
          <h4 class="card-text heading-4" id="common-h4">Inside Tech Life</h4>
          <p class="card-text " id="common-p">From collaborative brainstorming sessions to celebratory milestones, the rhythm of our workplace resonates with innovation, camaraderie, and the shared commitment to shaping a tomorrow defined by groundbreaking achievements. From collaborative brainstorming sessions to celebratory milestones, the rhythm of our workplace resonates with innovation, camaraderie, and the shared commitment to shaping a tomorrow defined by groundbreaking achievements.</p>
          <a href="/life-at-ettiksoft" class="btn explore-btn">Explore <i class="fa-solid fa-arrow-right"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
