<div class="main-container" id="main-container">
  <div class="container" id="container">
    <div class="row">
      <div class="col-md-6 custom-image">
        <img src="../../../../assets/images/4.svg" alt="office-img" class="img-fluid img-1">
        <img src="../../../../assets/images/4.jpg" alt="game-img" class="img-2">
        <img src="../../../../assets/images/3.jpg" alt="meeting-img" class="img-3">
      </div>
      <div class="col-md-6 content">
        <div class="content-section">
        <h3 class="heading-1" id="common-h1">Life at Ettiksoft</h3>
        <h1 class="heading-2" id="common-h1">EttikSoft Chronicles</h1>
        <span class="heading-3" id="common-h2"> Inside Tech Life </span>
        <p class="heading-4" id="common-h4">From collaborative brainstorming sessions to celebratory milestones, the rhythm of
          our workplace resonates with innovation, camaraderie, and the shared commitment to shaping a tomorrow defined
          by groundbreaking achievements.From collaborative brainstorming sessions to celebratory milestones, the rhythm of
          our workplace resonates with innovation, camaraderie, and the shared commitment to shaping a tomorrow defined
          by groundbreaking achievements.</p>
        </div>
          <div class="sys-explore-btn">
            <button class="btn explore-btn"  (click)="scrollToTop()">Explore <i class="fa-solid fa-arrow-right"></i></button>
          </div>
      </div>
    </div>
  </div>
</div>