<div class="main-container">
<app-intro-section></app-intro-section>
<app-animation></app-animation>
<!-- <app-system-engineering-page></app-system-engineering-page> -->
<app-our-products-section></app-our-products-section>
<app-our-leaders-section></app-our-leaders-section>
<app-ettiksoft-chronicles></app-ettiksoft-chronicles>
<app-ettiksoft-map-section></app-ettiksoft-map-section>
<!-- <app-system-engineering-svg></app-system-engineering-svg> -->
<!-- <app-our-speciality-section></app-our-speciality-section> -->
</div>