<div class="main-container" id="main-container">
    <div class="container">
        <div class="text-section">
            <h1 id="common-h1" class="slide-left" style="animation-delay: 0.3s;">Driving Innovation with Platform Expertise</h1>
            <p id="common-p" class="slide-left" style="animation-delay: 0.6s;">Ettiksoft excels in leveraging platforms such as <span>Azure, Mbed OS, Free RTOS, and .Net </span>to
                deliver optimal IIoT solutions. This expertise plays a pivotal role in crafting advanced solutions,
                ensuring the reliability and effectiveness of our offerings.</p>
        </div>
    </div>
</div>