<div class="container">
    <h1 id="common-h1">MES Solutions from Shop Floor to Top Floor</h1>
    <div class="row">
      <div class="col-md-6">
        <div class="image-container">
            <img src="../../../../../assets/images/service/iot-solutions/productions.svg"
            class="img-fluid" alt="manufacture-img" (load)="onImageLoad()"
            [hidden]="isLoading && !isImageLoaded">
             <div class="skeleton-rect" *ngIf="isLoading && !isImageLoaded"></div>
        </div>
      </div>
      <div class="col-md-6 content">
          <p id="common-h4" class="animate-on-scroll" style="animation-delay: 0.5s;">Recognizing the foundational role of Manufacturing Execution Systems (MES) in smart factories, Ettiksoft seamlessly connects the shop floor to the top floor. </p>
          <p id="common-h4" class="animate-on-scroll" style="animation-delay: 0.8s;">Our MES solutions encompass a spectrum of capabilities vital for IIoT success, aiding industrial manufacturers in process tracking, documentation, shop floor operations, and maintaining transparency across assets.</p>
      </div>
    </div>
</div>
