<div class="main-container" appLifeAtEttiksoftScroll>
  <div class="content">
    <div class="img-section"*ngIf="!isLoading; else skeletonTemplate">
      <div class="heading-section">
        <div class="heading animate-on-scroll">
          <h1 id="common-h3">Crafting a Cozy Workspace Experience.</h1>
          <p id="common-p">From thoughtfully designed ergonomic spaces to warm aesthetics, every detail is curated to ensure comfort
            and
            productivity.</p>
        </div>
      </div>
    </div>
    <ng-template #skeletonTemplate>
      <div class="skeleton-rect"></div>
  </ng-template>
  </div>
</div>