.main-container {
  overflow: hidden;
}
.content{
  background-image: url('../../../../assets/images/life-at-ettiksoft/section1-LAE.jpg'); 
  background-size: cover;
  background-position: top;
  display:flex;
  flex-direction: row;
  align-items: flex-end;
  height:70vh;
}
.skeleton-rect {
  content: '';
  width: 100%;
  height: 500px;
  background:var(--medium-black);
  background-size: 200%;
  animation: skeleton 10s linear infinite;
}
@keyframes skeleton{
  0%{
    background-position: -100% 0;
  }
  50%{
    background-position: 50% 0;
  }
  100%{
    background-position: 100% 0;
  }
}
.heading-section{
  display:flex;
  flex-direction: column;
  width: 35%;
  padding:10px;
  background: var(--black);
  border-radius:  15px 15px 0 0;
  color: var(--white);
  margin-left: 5%;
  margin-top:15%;
  animation: slideInBottomToTop 1s ease-out;
}
.heading{
  margin:20px;
}
#common-h1{
  font-family: 'Poppins', sans-serif;
  font-weight:600;
  line-height: normal;
  font-size: 2rem;
  color:var(--lite-grey);
}
#common-h4{
  font-family:'Poppins', sans-serif;
  font-size: 1.2rem;
  animation: slideInBottomToTop 1s ease-out 0.5s;
  color: var(--lite-grey);
  line-height: normal;
  text-align:left;
}
@keyframes slideInBottomToTop {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@media(max-width:1200px){
  .heading-section{
    width:40%;
  }
  #common-h1{
    font-size: 24px;
  }
  #common-h4{
    font-size: 16px;
  }
}
@media (max-width:991px){
  .heading-section{
    width:50%;
  }

}
@media(max-width:767px){
  .heading-section{
    width:60%;
    margin-top:18%;
  }
  .heading{
    margin:10px;
  }
  #common-h1{
    font-size: 20px;
  }
  #common-h4{
    font-size: 16px;
  }
}
@media (max-width:575px){
  .heading-section{
    width:60%;
    margin-top:22%;
  }
}
@media(max-width:475px){
  .heading-section{
    width:60%;
    margin-top:28%;
  }
  #common-h1{
    font-size: 18px;
  }
  #common-h4{
    font-size: 14px;
  }
}