<div class="main-container">
  <div class="etticksoft-heading">
    <h1 class="slide-left" id="common-h1">We ETTIKSOFT</h1>
    <img src="../../../../assets/images/about/aboutus.jpg" alt="people-img"(load)="onImageLoad()"
    [hidden]="isLoading && !isImageLoaded">
    <div class="skeleton-rect" *ngIf="isLoading && !isImageLoaded"></div>
  </div>
  <div class="innovation-heading">
    <div class="heading">
      <h2 class="slide-left" id="common-h1">Unlocking Innovation Beyond Limits.</h2>
      <h4 class="slide-left" id="common-h4">We will be a leading technology-based solution provider, offering best in class innovative products and
        services, we will stand unique with our Customer Centric, People First, and sustainable approach.</h4> 
    </div>
  </div>
</div>