.main-container {
  max-width: 100%;
  padding: 0;
  background-color: var(--medium-black);
}
.heading-section{
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}
.heading{
  justify-content: center;
  max-width: 65%;
}
#common-h1{
  text-align: center;
  font-weight: 600;
  color: var(--dark-gray);
  font-family: 'Adamina', sans-serif;
}
#common-h4{
  text-align: center;
  font-weight: 400;
  color: var(--lite-gray);
  font-family: 'Assistent', sans-serif;
  margin: 20px;
}
.animate-on-scroll {
  opacity: 0;
  transform: translateY(20px);
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-on-scroll.visible {
  animation: fadeInUp 1s ease forwards;
}

img {
  width: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
  margin: 0 auto;
}
.skeleton-rect {
  content: '';
  width: 100%; 
  height: 500px; 
  background:var(--black);
  margin: 0 10px;
  border-radius: 15px;
  background-size: 200%;
}
@media screen and (max-width:767px){
  .heading{
    max-width: 70%;
  }
}
@media screen and (max-width:575px){
  .heading{
    max-width: 100%;
  }
}